body{
 background-color:#7CA0FF;
font-family: Helvetica, sans-serif;
/*overflow:hidden;*/
}

.title{
	align-content:center;
    margin-top:0vw;

	font-family: Helvetica, sans-serif;
	font-size:150pt;
	font-weight:bold;
	text-align: center;
	
}


.subtitle{
    align-content:center;
    margin-top:4.5vw;

    font-family: Helvetica, sans-serif;
    font-size:50pt;
   /* font-weight:regular;*/
    text-align: center;
    color:#FBFF00;
}



.screen1{
    position: absolute;
    top: 140vw;
    left: 5vw;
    width:60vw;
    z-index:500;
    /*filter: drop-shadow(2px 2px 4px #4444dd);
}*/
}

.screen2{
    position: absolute;
    top: 160vw;
    left: 30vw;
    width:60vw;
    z-index:500
    /*filter: drop-shadow(2px 2px 4px #4444dd);*/
}

/*.screen3{
    position: absolute;
    top: 177vw;
    left: 10vw;
    width:60vw;
    z-index:500
  }*/

/*.screen4{
    position: absolute;
    top: 25vw;
    left: 55vw;
    width:20vw;
    z-index:500
   /* filter: drop-shadow(5px 2px 4px #4444dd);*/

/*}
.screen5{
    position: absolute;
    top: 35vw;
    left: 15vw;
    width:20vw;
    z-index:500
   

}*/

.icon1{
    position: absolute;
    top: 19vw;
    left: 15vw;
    width:30vw;
    z-index:600

}

.icon2{
    position: absolute;
    top: 12vw;
    left: 55vw;
    width:20vw;
    z-index:600

}

.icon5{
    position: absolute;
    top: 12vw;
    left: 60vw;
    width:20vw;
    z-index:600

}

.icon6{
    position: absolute;
    top: 38vw;
    left: 50vw;
    width:8vw;
    z-index:600

}

.icon7{
    position: absolute;
    top: 52vw;
    left: 40vw;
    width:20vw;
    z-index:600

}




.icon3{
    position: absolute;
    top: 195vw;
    left: 15vw;
    width:10vw;
    z-index:600;
    transform:rotate(-10deg);

}

.icon4{
    position: absolute;
    top: 206vw;
    left: 70vw;
    width:7vw;
    z-index:600;
   /* transform:rotate(30deg);*/

}





.video{
   position:absolute;
   top:70vw;
   left:0vw;

}

.link{
    align-content:center;
    margin-top:140vw;

    font-family: Helvetica, sans-serif;
    font-size:50pt;
    font-weight:bold;
    text-align: center;
    { transition: all .2s ease-in-out; }


}

.link:hover { 
    transform: scale(1.1); 
    background-color:#FBFF00;
 }




a{
       text-decoration:none;
       color:black;
}





img{
	max-width:100%;
}

