/* Your styles go here */

body{
	background-color: black;
}

h1{
position:absolute;
top:30vw;
left:50vw;
 align-content: center;
 font:1000px;
  font-family:'Press Start 2P', cursive;

 color:white;
 }



@media screen and (max-width:990px) {

h1{
 position:absolute;
 top:30vw;
 left:30vw;
 font:200px ;
 font-family:'Press Start 2P', cursive;
 color:white;
 filter:blur(2px);
 


}



}

@media screen and (max-width:890px) {

h1{
 display:inline;
 position:relative;
 font:200px ;
 font-family:'Press Start 2P', cursive;

 color:white;
 filter:blur(3px);
 


}



}

@media screen and (max-width:790px) {

h1{
 display:inline;
 position:relative;
 font:200px ;
 font-family:'Press Start 2P', cursive;

 color:white;
 filter:blur(4px);
 


}



}


@media screen and (max-width:490px) {

h1{
	display:none;
}

h2{
 display:inline;
 position:relative;
 font:200px;
  font-family:'Press Start 2P', cursive;
animation: glitchy 0.3s ease infinite reverse;
color:blue;
 opacity:0.7;
}

h2:after{
	content: "THATS IT!";
	position:absolute;
	left: 10px;
	top:5px;
	color:red;
	opacity:0.7;
animation: glitchy 0.3s ease infinite reverse;

 
}
@keyframes glitchy {
    0%   {transform: translate(-2px, 2px);}
    25%  {transform: translate(-2px, -2px);}
    50%  {transform: translate(2px, 2px);}
    75%  {transform: translate(2px, -2px);}
    100%  {transform: translate(-2px, 2px);}
}

}

