body{
	max-width:100%;
	max-height:100%;
	background-color:black;
	overflow:hidden;
}

/* structure */

.vortex{
	position:relative;
	align-items: center;
    padding:100px 30px;
	margin-left:10vw;

}

/* circles */

.circle1{
    position: absolute;
    left: 15vw;
    top: 1vw;
    width: 70vw;
    height: 55vw;
    /*background: linear-gradient(to right,#FF5D00 ,#FF0038);*/
    background:white;
    border-radius: 70vw / 55vw;
        z-index:2;
}
.circle2{
    position: absolute;
    left: 17.5vw;
    top: 3vw;
    width: 65vw;
    height: 50vw;
    /*background: linear-gradient(to left,#C724B1 ,#542C5D);*/
    background:black;
    border-radius: 65vw / 50vw;
        z-index:2;
}

.circle3{
    position: absolute;
    left: 20vw;
    top: 5.5vw;
    width: 60vw;
    height: 45vw;
    /* background: linear-gradient(to left,#C724B1 ,#542C5D); */
    background: white;
    border-radius: 60vw / 45vw;
        z-index:2;
}

.circle4{
    position: absolute;
    left: 22.5vw;
    top: 8vw;
    width: 55vw;
    height: 40vw;
    /* background: linear-gradient(to left,#C724B1 ,#542C5D);*/ 
    background: black;
    border-radius: 55vw / 40vw;
        z-index:2;
}

.circle5{
    position: absolute;
    left: 25vw;
    top: 10.5vw;
    width: 50vw;
    height: 35vw;
 /*    background: linear-gradient(to right,#C724B1 ,#542C5D); */
    background: white;
    border-radius: 50vw / 35vw;
        z-index:2;
}

.circle6{

      position: absolute;
    left: 27.5vw;
    top: 13vw;
    width: 45vw;
    height: 30vw;
    /* background: linear-gradient(to left,#C724B1 ,#542C5D); */
    background: black;
    border-radius: 45vw / 30vw;
        z-index:2;
}

.circle7{

    position: absolute;
    left: 30vw;
    top: 15vw;
    width: 40vw;
    height: 25vw;
    /* background: linear-gradient(to left,#C724B1 ,#542C5D); */
    background: white;
    border-radius: 40vw / 25vw;
        z-index:2;
}

.circle8{

    position: absolute;
    left: 32.4vw;
    top: 17.5vw;
    width: 35vw;
    height: 20vw;
    /* background: linear-gradient(to left,#C724B1 ,#542C5D); */
    background: black;
    border-radius: 35vw / 20vw;
        z-index:2;
}

.circle9{

    position: absolute;
    left: 32.4vw;
    top: 17.5vw;
    width: 35vw;
    height: 20vw;
    /* background: linear-gradient(to left,#C724B1 ,#542C5D); */
    background: black;
    border-radius: 35vw / 20vw;
        z-index:2;
}

.circle10{

    position: absolute;
    left: 35vw;
    top: 19vw;
    width: 30vw;
    height: 17vw;
    /* background: linear-gradient(to left,#C724B1 ,#542C5D); */
    background: white;
    border-radius: 35vw / 20vw;
        z-index:2;
}

.circle11{

        position: absolute;
    left: 37.5vw;
    top: 20vw;
    width: 25vw;
    height: 15vw;
    background: linear-gradient(to left,#C724B1 ,#542C5D);
    background: black;
    border-radius: 25vw / 15vw;
        z-index:2;
}

.circle12{

    position: absolute;
    left: 39vw;
    top: 21.5vw;
    width: 22vw;
    height: 11.5vw;
    background: linear-gradient(to left,#C724B1 ,#542C5D);
    background: white;
    border-radius: 22vw / 11.5vw;
        z-index:2;
}

.circle13{

    position: absolute;
    left: 42.5vw;
    top: 23vw;
    width: 15vw;
    height: 8vw;
    background: linear-gradient(to left,#C724B1 ,#542C5D);
    background: black;
    border-radius: 15vw / 8vw;
        z-index:2;
}


.circle14{

    position: absolute;
    left: 45vw;
    top: 24vw;
    width: 10vw;
    height: 6vw;
    background: linear-gradient(to left,#C724B1 ,#542C5D);
    background: white;
    border-radius: 10vw / 6vw;
        z-index:2;
}

.circle15{

    position: absolute;
    left: 46vw;
    top: 25vw;
    width: 8vw;
    height: 4vw;
    background: linear-gradient(to left,#C724B1 ,#542C5D);
    background: black;
    border-radius: 8vw / 4vw;
    z-index:2;
}

/*Larger outer circles*/

.circle16{

    position: absolute;
    left:13vw;
    top: -1vw;
    width: 75vw;
    height: 60vw;
    /*background: linear-gradient(to right,#FF5D00 ,#FF0038);*/
    background:black;
    z-index:1;
    border-radius: 80vw / 65vw;
}

.circle17{

    position: absolute;
    left: 9vw;
    top: -6vw;
    width: 82vw;
    height: 72vw;
    /*background: linear-gradient(to right,#FF5D00 ,#FF0038);*/
    background:white;
    z-index:0;
    border-radius: 82vw / 72vw;
}



.date-button{
position:relative;
top:-10vw;
left:2vw;
width:15vw;
height:2vw;
color:white;
font-size:14pt;
font-weight:bold;
font-family: 'Open Sans', sans-serif;
}


.date-button:hover{
position:relative;
top:-10vw;
left:2vw;
width:15vw;
height:2vw;
color:#A6CFD5;
font-size:14pt;
font-family: 'Open Sans', sans-serif;
font-weight:bold
}

a{
position:relative;
top:26vw;
left:2vw;
color:white;
font-size:14pt;
font-weight:bold;
font-family: 'Open Sans', sans-serif;
text-decoration:none;


}


a:hover {
position:relative;
top:26vw;
left:2vw;
color:#A6CFD5;
font-size:14pt;
font-weight:bold;
font-family: 'Open Sans', sans-serif;
text-decoration:none;


}





