#myVideo {
    position: fixed;
    margin-right: 0;
    margin-bottom: 0;
    min-width: 100vw; 
    min-height: 100vh;
}




.title1
{ position:absolute;
	top:400px;
	left:200px;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	background-color:#8900FF;
	z-index:2}
