*{box-sizing: border-box;}

body {
	margin: 0;
	
	padding: 0;

	background-color: #EBB2B2;
}
a:hover{
-webkit-filter:drop-shadow(8px 8px 10px gray) hue-rotate(-70deg);
filter:drop-shadow(8px 8px 10px gray) hue-rotate(-70deg);
}

#logo {

position:absolute;
top:10px;
left:340px;
}

#veratext {

position:absolute;
top:250px;
left:520px;
}

#may {

position:fixed;
top:710px;
left:1250px;
z-index: 2
}

#vlad2{

position:fixed;
top:700px;
left:60px;
z-index: 2
}

#footer7 {

position:absolute;
top:1400px;
left:330px;
}

