/* Your styles go here */
span{color:red;}

h1 { font-family:'Krona One', sans-serif;
      font-size:86pt;
      margin:auto 0;}


@media (max-width: 500px){


h1 { font-size: 24pt;

}

h1 { font-family:'Krona One', sans-serif;
      font-size:86pt;
      margin:auto 0;

}

h1 { font-size:2em;
	 font-weight: bold;

}