a{
	position: relative;
	top:500px;
	left:400px;
	z-index: 2;
	text-decoration:none
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.text
{font-family: 'VT323', monospace;
font-family: 'Rock Salt', cursive;}