/* Your styles go here */
body{
	margin:0;
}

.wrapper{
	display:flex;
	margin:0;

}

.square{
    height:33.3333vh;
	flex:1 100%;
	
}


.green{
	background-color:#C2E700;
}

.blue
{
	background-color:#5A7D8F;
}